@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}



@keyframes containerSwing {
  0%, 100% {
    transform: translateY(0px) rotate(-2deg);
  }

  50% {
    transform: translateY(15px) rotate(2deg);
  }
}


.containerSwing {
  animation: containerSwing 6s ease-in-out infinite;
  filter: drop-shadow(0px 25px 30px rgba(0,0,0,0.35));
  transform-origin: top center;
}

@keyframes containerFloatSlow {
  0%,
  100% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-16px);
  }
}

.containerFloatSlow {
  animation: containerFloatSlow 9s ease-in-out infinite;
}

.freight-bg {
  transition: all 0.8s ease;
  transform: scale(1.05);
}