@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
  font-family: 'Poppins', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Playfair Display', serif;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}



@keyframes containerSwing {
  0%, 100% {
    transform: translateY(0px) rotate(-2deg);
  }

  50% {
    transform: translateY(15px) rotate(2deg);
  }
}


.containerSwing {
  animation: containerSwing 6s ease-in-out infinite;
  filter: drop-shadow(0px 25px 30px rgba(0,0,0,0.35));
  transform-origin: top center;
}

@keyframes containerFloatSlow {
  0%,
  100% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-16px);
  }
}

.containerFloatSlow {
  animation: containerFloatSlow 9s ease-in-out infinite;
}

.freight-bg {
  transition: all 0.8s ease;
  transform: scale(1.05);
}


.color-brand-heading {
    margin-top: 20px;
    background: linear-gradient(180deg, #00535a 25%, #e4af47 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
}